/*
span{
    background-color: red;
}*/


#barra_de_pesquisa{
    background-color: white;
    width: 100% !important;
}
.item_lista{
    width: 20 px;
    height: 20 px;
    border: 5 px, black;
}

.nome_deputado{
    text-align: left;
}


.nome_partido{
    text-align: right;
}