/*
span{
    background-color: red;
}*/


#barra_de_pesquisa{
    background-color: white;
    width: 100% !important;
}
.item_lista{
    width: 20 px;
    height: 20 px;
}
.span_info{
    display: inline-block;
}
.nome_partido{
    text-align: right;
}

i{
    color: dimgrey;
    margin-left: 20px;
}

.card{
    margin-top: 5px;
    display: block;
}

#btn-dep{
    display: block !important;
}
#card-dep{
    display: block !important;
}
span{
    display: block !important;
    margin-bottom: -20px !important;
    margin-top: -20px !important;
}

#card-body{
    margin: 0 10px;
}

.list-group-hover .list-group-item:hover {
    background-color: blue;
}

/* Style the button that is used to open and close the collapsible content */
.card {
    
   /* background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;*/
    padding-bottom: 10px;
  }
    
  /* Style the collapsible content. Note: hidden by default */
  .conteudo-card {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  table{
    margin-top: 5px;
  }